        <a href="<%= $babelroom[:marcom_url] %>/blog/">Blog</a>
        <a href="<%= $babelroom[:marcom_url] %>/support/">Support</a>
        <a href="<%= $babelroom[:marcom_url] %>/legal/">Legal</a>
        <a href="<%= $babelroom[:marcom_url] %>/about/">About</a>
