@font-face {
  font-family: 'br_icons';
  src: url('../font/br_icons.eot?41857858');
  src: url('../font/br_icons.eot?41857858#iefix') format('embedded-opentype'),
       url('../font/br_icons.woff?41857858') format('woff'),
       url('../font/br_icons.ttf?41857858') format('truetype'),
       url('../font/br_icons.svg?41857858#br_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'br_icons';
    src: url('../font/br_icons.svg?41857858#br_icons') format('svg');
  }
}
*/
 
 [class^="icon2-"]:before, [class*=" icon2-"]:before {
  font-family: "br_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon2-erase:before { content: '\232b'; } /* '⌫' */
.icon2-pause:before { content: '\e824'; } /* '' */
.icon2-stop:before { content: '\e81d'; } /* '' */
.icon2-play:before { content: '\e825'; } /* '' */
.icon2-star:before { content: '\e81a'; } /* '' */
.icon2-th:before { content: '\e80a'; } /* '' */
.icon2-cog-alt:before { content: '\e80f'; } /* '' */
.icon2-ok:before { content: '\e81f'; } /* '' */
.icon2-cancel:before { content: '\e821'; } /* '' */
.icon2-cancel-circled:before { content: '\e81e'; } /* '' */
.icon2-ccw:before { content: '\e823'; } /* '' */
.icon2-volume-up:before { content: '\e00b'; } /* '' */
.icon2-volume-off:before { content: '\e00c'; } /* '' */
.icon2-webcam:before { content: '\e010'; } /* '' */
.icon2-play-circled:before { content: '\e827'; } /* '' */
.icon2-pause-circled:before { content: '\e826'; } /* '' */
.icon2-eye-1:before { content: '\e82a'; } /* '' */
.icon2-eye-off-1:before { content: '\e82b'; } /* '' */
.icon2-th-large:before { content: '\e809'; } /* '' */
.icon2-eye:before { content: '\e812'; } /* '' */
.icon2-eye-off:before { content: '\e813'; } /* '' */
.icon2-chat:before { content: '\e802'; } /* '' */
.icon2-resize-full:before { content: '\e80e'; } /* '' */
.icon2-resize-small:before { content: '\e80d'; } /* '' */
.icon2-arrows-cw:before { content: '\e816'; } /* '' */
.icon2-list:before { content: '\e81c'; } /* '' */
.icon2-equalizer:before { content: '\e795'; } /* '' */
.icon2-mic-off:before { content: '\e829'; } /* '' */
.icon2-mic:before { content: '\e828'; } /* '' */
.icon2-phone-squared:before { content: '\e806'; } /* '' */
.icon2-tasks:before { content: '\e804'; } /* '' */
.icon2-menu:before { content: '\e81b'; } /* '' */
.icon2-magic:before { content: '\e800'; } /* '' */
.icon2-sort:before { content: '\e80b'; } /* '' */
.icon2-gauge:before { content: '\e803'; } /* '' */
.icon2-desktop:before { content: '\e817'; } /* '' */
.icon2-mic-1:before { content: '\e814'; } /* '' */
.icon2-mute:before { content: '\e815'; } /* '' */
.icon2-videocam:before { content: '\e811'; } /* '' */
.icon2-user:before { content: '\e808'; } /* '' */
.icon2-users:before { content: '\e807'; } /* '' */
.icon2-floppy:before { content: '\e822'; } /* '' */
.icon2-folder-open:before { content: '\e80c'; } /* '' */
.icon2-chart-bar:before { content: '\e810'; } /* '' */
.icon2-phone:before { content: '\e818'; } /* '' */
.icon2-megaphone:before { content: '\e801'; } /* '' */
.icon2-signal:before { content: '\e819'; } /* '' */
.icon2-key:before { content: '\e805'; } /* '' */
.icon2-lock:before { content: '\e820'; } /* '' */